<H1>Data Science Tools and Ecosystem<H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. PyTorch

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. Addition: `3 + 2 = 5`
2. Subtraction: `5 - 3 = 2`
3. Multiplication: `4 * 2 = 8`
4. Division: `8 / 2 = 4`
5. Exponentiation: `2 ** 3 = 8`

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe what a Jupyter Notebook is
- Create ordered and unordered lists in Markdown
- Create and evaluate arithmetic expressions in Python
- Convert units within code cells (e.g., minutes to hours)

## Author
Kian Keshtkar